[submodule "ggml"]
	path = ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "common/third-party/llama.cpp"]
	path = common/third-party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
